<%- include('partials/header'); -%>

<div class="container">
<h1><%= campground.name %></h1>
<img style="max-height:200px;min-height:200px;max-width:300px" src="<%= campground.image %>">>
<p><%= campground.description %></p>
<p> Best Choice </p>
</div>
<%- include('partials/footer'); -%>